<?xml version="1.0"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="Ambitour.CoucheMetier.GlobalSettings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
            <section name="Ambitour.Parametres.GraphicSettings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
            <section name="Ambitour.Parametres.GlobalSettings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
            <section name="Ambitour.Settings1" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="Ambitour.CoucheMetier.GlobalSettings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
            <section name="Ambitour.Parametres.GlobalSettings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <connectionStrings>
        <add name="Ambitour.Properties.Settings.AIPLConnectionString"
            connectionString="Data Source=100.74.39.204;Initial Catalog=AIPL;User ID=ambiflux;Password=ambiflux"
            providerName="System.Data.SqlClient" />
        <add name="Ambitour.Properties.Settings.AIPLConnectionString1"
            connectionString="Data Source=100.74.39.204;Initial Catalog=AIPL;Persist Security Info=True;User ID=ambiflux;Password=ambiflux"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <userSettings>
        <Ambitour.CoucheMetier.GlobalSettings>
            <setting name="strRepertoireLocalDossiersDeFabrication" serializeAs="String">
                <value>c:\ambitour\dossiers</value>
            </setting>
            <setting name="strQueuePath" serializeAs="String">
                <value>\\etuls.stockage.univ-lorraine.fr\etu_commun\aipl\Partages\Ambitour</value>
            </setting>
            <setting name="strDefaultArchiveQueueName" serializeAs="String">
                <value>Archives</value>
            </setting>
            <setting name="strRepertoireDossiersDemo" serializeAs="String">
                <value>c:\ambitour\demos</value>
            </setting>
            <setting name="ExtensionProgrammePiece" serializeAs="String">
                <value>.xpi</value>
            </setting>
            <setting name="ExtensionAideHtml" serializeAs="String">
                <value>.html</value>
            </setting>
            <setting name="strADPath" serializeAs="String">
                <value>LDAP://DC=ad,DC=univ-lorraine,DC=fr</value>
            </setting>
            <setting name="strLogin" serializeAs="String">
                <value>aip-adread</value>
            </setting>
            <setting name="strPasswd" serializeAs="String">
                <value>Gzero01!</value>
            </setting>
            <setting name="incomingRequestDirectory" serializeAs="String">
                <value>c:\ambitour\incomingRequest</value>
            </setting>
            <setting name="outgoingRequestDirectory" serializeAs="String">
                <value>c:\ambitour\outgoingRequest</value>
            </setting>
            <setting name="tempRequestDirectory" serializeAs="String">
                <value>c:\ambitour\tempRequest</value>
            </setting>
            <setting name="incomingOFDirectory" serializeAs="String">
                <value>c:\ambitour\incomingOF</value>
            </setting>
            <setting name="archivesOFDirectory" serializeAs="String">
                <value>c:\ambitour\incomingOF\archives</value>
            </setting>
            <setting name="pendingOFDirectory" serializeAs="String">
                <value>c:\ambitour\incomingOF\pending</value>
            </setting>
            <setting name="outgoingOFDirectory" serializeAs="String">
                <value>c:\ambitour\outgoingOF</value>
            </setting>
            <setting name="jadeServerAddress" serializeAs="String">
                <value>10.10.68.92</value>
            </setting>
            <setting name="repertoireDossiersAmbiflux" serializeAs="String">
                <value>c:\ambitour\DossiersAmbiflux</value>
            </setting>
            <setting name="jadeSocketProxyPort" serializeAs="String">
                <value>6789</value>
            </setting>
            <setting name="jadePort" serializeAs="String">
                <value>1099</value>
            </setting>
            <setting name="archivedDirectoryName" serializeAs="String">
                <value>Archives</value>
            </setting>
        </Ambitour.CoucheMetier.GlobalSettings>
        <Ambitour.Parametres.GraphicSettings>
            <setting name="BgColor" serializeAs="String">
                <value>Ivory</value>
            </setting>
            <setting name="FormBorderStyle" serializeAs="String">
                <value>FixedToolWindow</value>
            </setting>
            <setting name="LeftPanelSize" serializeAs="String">
                <value>790, 617</value>
            </setting>
            <setting name="RightPanelSize" serializeAs="String">
                <value>223, 617</value>
            </setting>
            <setting name="RightPanelPoint" serializeAs="String">
                <value>790, 90</value>
            </setting>
            <setting name="LeftPanelPoint" serializeAs="String">
                <value>0, 90</value>
            </setting>
            <setting name="TopPanelSize" serializeAs="String">
                <value>1013, 90</value>
            </setting>
            <setting name="TopPanelPoint" serializeAs="String">
                <value>0, 49</value>
            </setting>
        </Ambitour.Parametres.GraphicSettings>
    </userSettings>
    <applicationSettings>
        <Ambitour.CoucheMetier.GlobalSettings>
            <setting name="PresenceCN" serializeAs="String">
                <value>False</value>
            </setting>
        </Ambitour.CoucheMetier.GlobalSettings>
        <Ambitour.Parametres.GlobalSettings>
            <setting name="PresenceCN" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="DernierArretBroche" serializeAs="String">
                <value/>
            </setting>
        </Ambitour.Parametres.GlobalSettings>
    </applicationSettings>
  <system.diagnostics>
    <trace autoflush="true" indentsize="4">
      <listeners>
        <add name="myListener" type="System.Diagnostics.TextWriterTraceListener" initializeData="ambiflux.log"/>
        <remove name="Default"/>
      </listeners>
    </trace>
    <sources>
      <source name="System.Net" tracemode="protocolonly" maxdatasize="1024">
        <listeners>
          <add name="System.Net"/>
        </listeners>
      </source>
      <source name="System.Net.Sockets">
        <listeners>
          <add name="System.Net"/>
        </listeners>
      </source>
      <source name="System.Net.Cache">
        <listeners>
          <add name="System.Net"/>
        </listeners>
      </source>
    </sources>
    <switches>
      <add name="System.Net" value="Verbose"/>
      <add name="System.Net.Sockets" value="Verbose"/>
      <add name="System.Net.Cache" value="Verbose"/>
    </switches>
    <sharedListeners>
      <add name="System.Net"
        type="System.Diagnostics.TextWriterTraceListener"
        initializeData="network.log"
      />
    </sharedListeners>
  </system.diagnostics>
  
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup></configuration>
